/* To customise the omni calendar: override these styles, or create a new css file
   based on this one.
*/

.calendar-block {
   box-shadow:  0px 0px 3px #c0c0c0;
}

.hc-title {
   text-align: center;
   font-size: 12pt;
   color: #000000;
   padding-top:10px;
   padding-bottom:10px;
}

.hc-day-name {
   background: #40748E;
   text-align: center;
   font-weight: normal;
   color: white;
   padding-top:10px;
   padding-bottom:10px;
}

.hc-daynumber {
   text-align:center;
}

.hc-day-active {
   background: #BBE7E6;
}

.hc-prev {
   padding-top:10px;
   display:none;
   text-align:left;
   cursor: pointer;
}

.hc-next {
   padding-top:10px;
   display:none;
   text-align:right;
   cursor: pointer;
}

.hc-table {
   width: 100%;
}

.hc-day {
   vertical-align: middle;
   padding: 5px;
   height:60px;
   width:60px;
}

.hc-daycontent {
   font-size: 10pt;
   text-align: center;
}

.hc-daycontent-inactive {
   font-weight: bold;
   font-size: 10pt;
   color: #c0c0c0;
   text-align: center;
}

.hc-selected {
   background: #FFCB4F !important;
}

.hc-hover {
   background: #FFCB4F !important;
}
